.container {
    width: 75%;
    margin: 3em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #d9c147;
    border: 2px solid #d1b000;
    box-shadow: 0px 3px 5px 1px #636363;
    border-radius: 10px;
}

.container h2 {
    text-decoration: underline;
    padding-bottom: 1em;
}
.container p {
    font-size: 1.3em;
    padding: 1em;
    border: 2px solid #d1b000;
}
