.container {
    width: 15%;
    height: 100vh;
    border-right: 1px solid #cfae01;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spacer {
    width: 75%;
    height: 0.1rem;
    background-color: #000;
    border-radius: 50%;
}
.logo {
    width: 100%;
    height: 2.9rem;
    /* border: 1px solid #cfae01; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.linkStyles {
    align-content: center;
    text-align: center;
    height: 3rem;
    width: 100%;

    border-bottom: 1px solid #666666;
}
