.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.432);
}

.links {
    padding: 10px;
    border-left: 1px solid gray;
}

.loginButton {
    padding: 0.4em;
    height: 3em;
    width: 3.75em;
    background-color: #d9c147;
    border: 2px solid #d1b000;
    box-shadow: 0px 3px 5px 1px #636363;
    border-radius: 10px;
    margin: 0 1em;
}
